<%= erb :'layouts/_header' %>

  <h1>Pigeons</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Color</th>
      <th>Lives</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <% @pigeons.each do |pigeon|%>
        <tr>
          <td><%= pigeon.name %></td>
          <td><%= pigeon.gender %></td>
          <td><%= pigeon.color %></td>
          <td><%= pigeon.lives %></td>
          <td><a href="/pigeons/<%= pigeon.id %>/edit">Edit</td>
          <td>
            <form action="/pigeons/<%= pigeon.id %>/update" method="post">Destroy</form>
          </td>
        </tr>
      <% end %>
    </tr>
  </table>
  <a class="button" href="/pigeons/new">New Pigeon</a>
  
<%= erb :'layouts/_footer' %>